#palChoiceContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    width: 90%;
    max-height: 600px;
    margin: 2rem 0;
    border-radius: 10px;


    .palContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 15%;
        min-width: 120px;
        max-width: 140px;
        aspect-ratio: 50/50;

        img {
            width: 60%;
            border-radius: 50%;
            border: 1px solid #ffa500;
        }

        p {
            margin-top: 1rem;
            text-align: center;
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 500px) {
    #palChoiceContainer {
        .palContainer {
            min-width: 90px;
        }
    }
}

@media screen and (min-width: 2048px) {
    #palChoiceContainer {
        .palContainer {
            max-width: 200px;

            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (min-width:3096px) {
    #palChoiceContainer {
        .palContainer {
            max-width: 250px;

            p {
                font-size: 1.7rem;
            }
        }
    }
}