#selectedParentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12%;
        max-width: 200px;
        min-width: 120px;
        aspect-ratio: 50/50;
        margin: 2rem;
    }

    #parent1,
    #parent2 {
        position: absolute;
        display: none;

        &:checked+label {
            border: 1px solid #ffa500;
        }
    }

    #result {
        border: 1px solid #ffa500;
    }

    span {
        font-size: 3rem;
    }

}

@media screen and (max-width:500px) {
    #selectedParentContainer {

        label {
            margin: 1rem;
        }

        span {
            font-size: 2rem;
        }

    }
}